body{
    padding: 0;
    margin: 0;
    background-color: #F4EDC3;
    align-items: center;
    align-content: center;
    text-align: center;
    color: rgb(59, 0, 0);
}

div{
    align-items: center;
}

h1{
    padding: 1rem;
    margin: 0;
    background-color:#EFD330;
    font-family: Onyx, sans-serif;
    text-align: center;
    font-size: 60px;
    color: #701A11;
}

#conteudo {
    display: none;
}

#cadastro_dados {
    display: block;
}

#mostraDados {
    display: none;
}

#texto{
    font-family: Segoe UI, sans-serif;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 20px;
    color: rgb(29,29,27);
}

#botao{
    border-radius: 5px;
    padding: 5px 10px;
    font-family: Segoe UI, sans-serif;
    font-weight: bold;
    background-color: #B0291A;
    color: rgb(255, 255, 255);
    font-size: 15px;
    border: none;
    transition-duration: 0.3s;
}

#botao:hover{
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #701A11;
    color: rgb(255, 255, 255);
    font-size: 15px;
    border: none;
}

#menu-cabecalho{
    font-family: Segoe UI, sans-serif;
    font-weight: 800;
    font-size: 15px;
    pointer-events: visible;
    background-color:#A38D10;
    color: rgb(240,240,240);
}

#menu-cabecalho ul{
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
    color: rgb(240,240,240);
}

#menu-cabecalho li{
    float: left;
    color: rgb(240,240,240);
}

#menu-cabecalho li a{
    transition-duration: 0.3s;
    display: block;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    color: rgb(240,240,240);
}

#menu-cabecalho li a:hover{
    background-color: #5f5600;
    color: rgb(255,255,255);
}

#texto {
    border: none;
    font-size: 15px;
    border-radius: 5px;
    padding: 5px 5px;
}

input:focus {
    border-color: #5f5600;
    outline: none;
}

#cadastro_dados input, label{
    text-align: left;
    align-self: left;
    align-content: left;
    border: none;
    border-radius: 5px;
    outline: none;
    font-family: 'Segoe Ui', sans-serif;
    font-size: 15px;
}

#cadastro_dados input {
    width: 15rem;
    padding: 5px;
    margin-bottom: 0.5rem;
    align-content: left;
}

#cadastro_dados button {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: none;
    color: rgb(255, 255, 255);
    background-color: #B0291A;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: 'Segoe UI', sans-serif;
    font-weight: 700;
    transition-duration: 0.3s;
}

#cadastro_dados button:hover {
    background-color: #701A11;
}

#cadastro_dados span {
    display: none;
    font-family: 'Segoe UI', sans-serif;
    font-size: 12px;
    color: #B0291A;
    font-weight: 700;
    transition-duration: 0.3s;
    transition-property: ease;
}
